/* src/components/albums/albumList.css */

/* src/components/albums/albumList.css */

.album-list-container {
  padding: 20px;
  width: 1200px;
  height: 100vh;
  margin-left: 255px;
}

.album-list-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  max-height: 490px; /* Set the maximum height for the table container */
  overflow-y: auto; /* Enable vertical scrolling */
}


 /* Add other styles as needed */


 .album-list-container ul {
  list-style: none;
  padding: 0;
}

.album-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.album-list-container li:last-child {
  border-bottom: none;
}

.album-list-container a {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.album-list-container a:hover {
  text-decoration: underline;
}

.album-list-container button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.album-list-container button:hover {
  background-color: #212121;
}
